@model IEnumerable<Guestbook.Models.Book>

@{
    ViewData["Title"] = "留言版";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
		<div class="col-xl-3 col-md-4 p-2 mb-4" >
            <div class="card rounded-3" style="width: 18rem; height: 250px;" shadow-3>
                <div class="card-body">
                    <h3 class="card-title" style="font-weight:bold;">@Html.DisplayFor(modelItem => item.Title)</h3>
                    <h6 class="card-subtitle mb-2 text-body-secondary mb-2" style="color: #aaaba7;">
                        @Html.DisplayFor(modelItem => item.Author)|
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </h6>
                    <p class="card-text">@Html.Raw(item.Description.Replace("\r\n", "<br>"))</p>

				</div>

                <div class="card-footer mb-1 text-center">
                    
                     <a asp-action="Delete" asp-route-id="@item.BookID" class="btn btn-outline-danger">Delete</a>
                     <a asp-action="Edit" asp-route-id="@item.BookID" class="btn btn-outline-success">Edit</a>
                     <a asp-action="Display" asp-route-id="@item.BookID" class="btn btn-outline-info">Details</a>
                   
                    
                </div>
            </div>
        </div>
    }
</div>
